@use '../utils/mixins';
@use '../utils/variables';

.q-table {
  th {
    //border: none !important;
    background-color: #f9fafb !important;
    color: #1b2850;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
}
